html, body { 
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: white;

}
h1 {
  font-size: 2em;
  margin-top: 10px;
  margin-bottom: 10px;
}
h2 {
  font-size: 1.5em;
  margin-top: 10px;
  margin-bottom: 10px;
}
h3 {
  font-size: 1.17em;
  margin-top: 10px;
  margin-bottom: 0px;
}
h4 {
  font-size: 1.3em;
  margin-top: 10px;
  margin-bottom: 0px;
}
h5 {
  font-size: 0.83em;
  margin-top: 10px;
  margin-bottom: 0px;
}
h6 {
  font-size: 0.67em;
  margin-top: 10px;
  margin-bottom: 0px;
}

body > footer {
  position: sticky;
  top: 100vh;
}

*.vertical-container {
  margin: auto;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  min-height: 80px;
  justify-content: center;
}

*.horizontal-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
*.horizontal-container-left {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
h5.category {
 margin: 5px;
 border-radius: 10px;
 padding: 5px;
}

div.contact-pad {
  flex-grow: 1;
  flex-shrink: 1;
  text-align: center;
}
div.item {
  margin: auto;
}
p {
  font-size: 1.2em;
}
div > a {
  margin: auto;
}
div > a > img {
  height: 50px;
}

@media (min-width: 600px) {
  .photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
  }
}
@media ( min-width: 1000px) {
  .photo {
    float: left; margin: 10px; width: 250px;
  }
}

