<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="google-site-verification" content="MqaoFaFtMzLCJdFn64uVjF2sRuKKL9H-q4rgnXfwDJQ" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/main.css?20231001">
  </head>
  <body>
    {% include navigation.html %}
    <div class="vertical-container">
      <h2>{{page.title}}</h2>
      <h6>Last edited {{ page.last_edit }}</h6>
    </div>
    <div class="vertical-container">
      {{ content }}
    </div>
    {% include footer.html %}
  </body>
</html>

